<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading</title>
    {% load static %}
    <link href="{% static '/reading/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/reading/css/mystyle.css' %}" rel="stylesheet">
    <script src="{% static '/reading/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/reading/js/bootstrap.min.js' %}"></script>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">阅钉Reading</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="#">书库</a></li>
         <li><a href="/upload">上传</a></li>
         <li><a href="/user">个人中心</a></li>
      </ul>
   </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>