<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading</title>
    <meta name="description" content="免费电子书下载">
    <meta name="keywords" content="Kindle,eBook,Read,Free,Push,mobi,pdf,免费,阅读,电子书">
    {% load static %}
    <link href="{% static '/reading/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/reading/css/mystyle.css' %}" rel="stylesheet">
    <script src="{% static '/reading/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/reading/js/bootstrap.min.js' %}"></script>
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>