<!-- index.html -->
{% extends "base.html" %}
{% block content %}
    <div class="row book-li">
    {% for book in books %}
        <div class="col-sm-6 col-md-2">
            <div class="well book-card">
                <div class="book-cover clearfix">
                    <a>
                        <img class="img-rounded img-responsive" src="{{ book.imgurl }}">
                    </a>
                </div>
                <div class="caption">
                    <p class="book-name" title="{{ book.name }}">{{ book.name }}</p>
                    <p class="book-author">{{ book.author }}</p>
                    <p>
                        <a class='book-down btn btn-mini btn-success' href="{{ book.path }}">
                            <i class="fa fa-download" aria-hidden="true"></i>下载
                        </a>
                        <span class="badge pull-right", title="评分">{{ book.score }}</span>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

<div class="pagination">
    <span class="step-links">
        {% if book.has_previous %}
            <a href="?page={{ book.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ book.number }} of {{ book.paginator.num_pages }}.
        </span>

        {% if book.has_next %}
            <a href="?page={{ book.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
