<!-- index.html -->
{% extends "base.html" %}
{% block content %}
    <div class="search-bar">
        <form class="bs-example bs-example-form" role="form" action="/search/" method="get">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input  name="q" value="" placeholder="书名/作者" type="text"  class="form-control">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row book-li">
    {% for book in books %}
        {% if book.path == '/' %}
        <div class="col-xs-6 col-md-2">
            <div class="well book-card">
                <div class="book-cover clearfix">
                    <a>
                        <img class="img-rounded img-responsive" src="{{ book.imgurl }}">
                    </a>
                </div>
                <div class="caption">
                    <p class="book-name" title="{{ book.name }}">{{ book.name }}</p>
                    <p class="book-author" title="{{ book.author }}">{{ book.author }}</p>
                    <p>
                        <a class='book-down btn btn-mini btn-primary' href="/uploadfile/{{ book.path }}">
                            <i class="fa fa-download" aria-hidden="true"></i>上传
                        </a>
                        <span class="badge pull-right", title="评分">{{ book.score }}</span>
                    </p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-xs-6 col-md-2">
            <div class="well book-card">
                <div class="book-cover clearfix">
                    <a>
                        <img class="img-rounded img-responsive" src="{{ book.imgurl }}">
                    </a>
                </div>
                <div class="caption">
                    <p class="book-name" title="{{ book.name }}">{{ book.name }}</p>
                    <p class="book-author" title="{{ book.author }}">{{ book.author }}</p>
                    <p>
                        <a class='book-down btn btn-mini btn-success' href="{{ book.path }}">
                            <i class="fa fa-download" aria-hidden="true"></i>下载
                        </a>
                        <span class="badge pull-right", title="评分">{{ book.score }}</span>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>

<!--分页已完成-->
<nav style="text-align: center">
<ul class="pagination">
    <li><a href="?page={{ p_page }}">&laquo;</a></li>
    {% for p in page_list %}
        {% if p == cur_page %}
            <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
        {% else %}
            <li><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
   <li><a href="?page={{ n_page }}">&raquo;</a></li>
</ul>
</nav>
{% endblock %}
