{% extends "base.html" %}
{% block content %}
<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">阅钉Reading</a>
   </div>
   <div>
      <ul class="nav navbar-nav pull-right">
         <li><a href="/login">登录</a></li>
         <li class="active"><a href="/register">注册</a></li>
      </ul>
   </div>
</nav>


<div id="container" class='container'>
   <div class="mycenter">
       <form action method="post" class="form form-horizontal" role="form">{% csrf_token %}
           <div class="col-lg-11 text-center text-info">
           <H2>请注册</H2>
           </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control" placeholder="用户名" name="username" />
              </div>
          </div>
           <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="email" class="form-control" placeholder="邮箱" name="email" />
              </div>
          </div>
           <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control" placeholder="密码" name="password1" />
              </div>
          </div>
           <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control" placeholder="确认密码" name="password2" />
              </div>
          </div>
           <div class="form-group">
               <div class="input-group">
                    <button type="submit" class="btn btn-default">登录</button>
               </div>
           </div>
      </form>
   </div>
</div>

{% endblock %}