<!-- index.html -->
{% extends "base.html" %}
{% block content %}
    <div class="row book-li">
    {% for book in books %}
        <div class="col-sm-6 col-md-2">
            <div class="well book-card">
                <div class="book-cover clearfix">
                    <a>
                        <img class="img-rounded img-responsive" src="{{ book.imgurl }}">
                    </a>
                </div>
                <div class="caption">
                    <h6 class="book-name" title="{{ book.name }}">{{ book.name }}</h6>
                    <p class="book-author">{{ book.author }}</p>
                    <p>
                        <a class='book-down btn btn-mini btn-success' href="{{ book.path }}">
                            <i class="fa fa-download" aria-hidden="true"></i>下载
                        </a>
                        <span class="badge pull-right", title="评分">{{ book.score }}</span>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

<!--分页已完成-->
<nav style="text-align: center">
<ul class="pagination">
    {% if p_page != '' %}
        <li><a href="?page={{ p_page }}&q={{ name_kw }}">&laquo;</a></li>
    {% endif %}
    {% for p in page_list %}
        {% if p == cur_page %}
            <li class="active"><a href="?page={{ p }}&q={{ name_kw }}">{{ p }}</a></li>
        {% else %}
            <li><a href="?page={{ p }}&q={{ name_kw }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    {% if n_page != '' %}
        <li><a href="?page={{ n_page }}&q={{ name_kw }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>
{% endblock %}
