<!-- index.html -->
{% extends "base.html" %}
{% block content %}
<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">阅钉Reading</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
          <li><a href="/">书库</a></li>
          <li class="active"><a href="/upload">上传</a></li>
          <li><a href="/task">求书专区</a></li>
          <li><a href="/contact">联系站长</a></li>
          <li><a href="/user">个人中心</a></li>
      </ul>
   </div>
</nav>


<div id="container" class='container'>
   <div class="mycenter">
       <form action method="post" enctype="multipart/form-data" class="form form-horizontal" role="form">{% csrf_token %}
           <div class="col-lg-11 text-center text-info">
           <H2>上传图书</H2>
           </div>
          <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                  <input type="text" class="form-control" placeholder="书名" name="name" value="{{ book.name }}" disabled/>
              </div>
          </div>
           <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control" placeholder="作者" name="author" value="{{ book.author }}" disabled/>
              </div>
          </div>
           <div class="form-group">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                  <input type="text" class="form-control" placeholder="评分" name="score" value="{{ book.score }}" disabled/>
              </div>
          </div>
           <div class="form-group">
              <div class="input-group">
                  <!--<span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>-->
                  <input type="file" name="file" id="inputfile" required>
              </div>
          </div>
           <div class="form-group">
               <div class="input-group">
                    <button type="submit" class="btn btn-default">上传</button>
               </div>
           </div>
      </form>
   </div>
</div>
{% endblock %}