.search-bar {
    padding: 50px 100px 10px;
}

body div.book-li {
    padding-top:25px;
    padding-bottom:50px;
    padding-right:100px;
    padding-left:100px;
}

.book-cover .img-responsive {
    height:150px;
}

.book-card p.book-name {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-card p.book-author {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}